@model Lab3.models.Person
@{
    Layout = "_Layout";
    
}
<form asp-controller="Home" asp-action="DisplayPerson" method="post">
    <table>
        <tr>
            <td>First Name : </td>
            <td><input type="text" name="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td><input type="text" name="LastName" /></td>
        </tr>
        <tr>
            <td>Age : </td>
            <td><input type="text" name="Age" /></td>
        </tr>
        <tr>
            <td>Email Address : </td>
            <td><input type="text" name="EmailAddress" /></td>
        </tr>
        <tr>
            <td>DOB (TODO) : </td>

        </tr>
        <tr>
            <td>Password : </td>
            <td><input type="text" name="Password" /></td>
        </tr>
        <tr>
            <td>Description of person : </td>
            <td><input type="text" name="PersDescription" /></td>
        </tr>
    </table>
    <input type="submit" value="Create" />
</form>
